// app global css in SCSS form
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  opacity: 30%;
}

body {
  max-height: 100vh;
  overflow-y: hidden; /* Hide the vertical scrollbar */
  overflow-x: auto;
}
@media screen and (max-width: 830px) {
  body {
    max-height: 100vh;
    overflow-y: auto; /* Hide the vertical scrollbar */
    overflow-x: hidden;
  }
}
